{% load static %}


<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Micro Business Plan</h3>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->

            {% for rs in micro %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>₹ {{rs.m_price}}</span>
                            <span class="sale">Months</span>
                        </div>
                        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                        <img src="{{rs.image.url}}" style="height: 135px; width: 135px; text-align:center; margin-left: 80px;" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">₹ {{rs.amount}}</h3>                        
                        <h3 class="product-name"><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{rs.title}}</a></h3>
                        <div class="product-btns">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
            {% endfor %}
           
        </div>        
</div>
<!-- /section -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section-title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Small Business Plan</h3>
                    <div class="pull-right">
                        <div class="product-slick-dots-1 custom-dots"></div>
                    </div>
                </div>
            </div>
            <!-- /section-title -->

            <!-- banner -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="banner banner-2">
                    <img src="{% static '' %}img/google-cloud-img.jpg" style="height: 350px;" alt="">
                    
                </div>
            </div>
            <!-- /banner -->

            <!-- Product Slick -->
            <div class="col-md-9 col-sm-6 col-xs-6">
                <div class="row">
                    <div id="product-slick-1" class="product-slick">

                        {% for rs in small %}
                        <!-- Product Single -->
                        <div class="product product-single">
                            <div class="product-thumb">
                                <div class="product-label">
                                    <span>₹ {{rs.m_price}}</span>
                                    <span class="sale">Months</span>
                                </div>                                                            
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                                <img src="{{rs.image.url}}" style="height: 135px; width: 135px; text-align:center; margin-left: 80px;"  alt="">
                            </div>
                            <div class="product-body">
                                <h3 class="product-price" >₹ {{rs.amount}}<del class="product-old-price"></del></h3>
                               
                                <h2 class="product-name"><a href="#">{{rs.title}}</a></h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                </div>
                            </div>
                        </div>
                        <!-- /Product Single -->
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /Product Slick -->
        </div>
        <!-- /row -->

    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Medium Business Plan</h3>
                </div>
            </div>
            <!-- section title -->
            {% for rs in medium %}
            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>₹ {{rs.m_price}}</span>
                            <span class="sale">Months</span>
                        </div>
                        <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                        </a>
                        <img src="{{ rs.image.url }}" style="height: 135px; width: 135px; text-align:center; margin-left: 80px;" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">₹ {{rs.amount}}</h3>
                        
                        <h2 class="product-name"><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{rs.title}}</a></h2>
                        <div class="product-btns">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            <a href="{% url 'addtoshopcart' rs.id %}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
            {% endfor %}

        </div>
        <!-- /row -->

    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Aditional Products</h3>
                </div>
            </div>
            <!-- section title -->


            <!-- Product Single -->

            {% for rs in aditionl %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span>₹ {{rs.m_price}}</span>
                            <span class="sale">Months</span>
                        </div>
                        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                        <img src="{{ rs.image.url }}" style="height: 135px; width: 135px; text-align:center; margin-left: 80px;" alt="">

                    </div>
                    <div class="product-body">
                        <h3 class="product-price">₹ {{rs.amount}}</h3>                      
                        <h2 class="product-name"><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{rs.title}}</a></h2>
                        <div class="product-btns">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /Product Single -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->