{% extends 'homebase.html' %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block google %} {{ setting.title }} {% endblock %}
{% load static %}
{% block body %} 
<!-- section -->
<div class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- banner -->
            {% for rs in pay %}
            <div class="col-md-8">
                <div class="banner banner-1">
                    
                    <img src="{{rs.image.url}}" style="height: 600px;" alt="">
                    
                    
                </div>
            </div>
            {% endfor %}
            
            <!-- /banner -->

            <!-- banner -->
            {% for rs in gallrey %}
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" href="#">
                    <img src="{{rs.image.url}}" style="height: 285px;" alt="">
                    
                </a>
            </div>
            <!-- /banner -->
            {% endfor %}          
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
<div class="banner-caption text-center">
    <a href="/contact"><button class="primary-btn">Confirm Order</button></a>
    
</div>

{% endblock %}